# config/topo_config.yml
# 示例：3 个交换机 S1, S2, S3，端口带宽 10 Mbps
# DPID 用整数或字符串均可，这里用整数方便

ports:
  "1":
    capacity_bps:
      "1": 10000000   # s1-eth1 (h1)
      "2": 10000000   # s1-eth2 (s2)
      # "3": 10000000 # 如果你需要考虑 nat1 流量，也可以加

  "2":
    capacity_bps:
      "1": 10000000   # s2-eth1 (s1)
      "2": 10000000   # s2-eth2 (s3)
      "3": 10000000   # s2-eth3 (h2) ★★ 新增这行 ★★

  "3":
    capacity_bps:
      "1": 10000000   # s3-eth1 (s2)
      "2": 10000000   # s3-eth2 (h3)


# 静态路径：src_ip-dst_ip -> [ [dpid, out_port], ... ]
# paths:
#   "10.0.1.1-10.0.3.1":
#     - [1, 2]  # S1 出 2
#     - [2, 2]  # S2 出 2
#     - [3, 1]  # S3 出 1


paths:
  # h1 (172.17.0.101) -> h2 (172.17.0.102)
  "172.17.0.101-172.17.0.102":
    - [1, 2]   # s1: 出口到 s2
    - [2, 3]   # s2: 出口到 h2

  # h2 -> h1
  "172.17.0.102-172.17.0.101":
    - [2, 1]   # s2: 出口到 s1
    - [1, 1]   # s1: 出口到 h1

  # h1 -> h3   (s1 -> s2 -> s3)
  "172.17.0.101-172.17.0.103":
    - [1, 2]   # s1 -> s2
    - [2, 2]   # s2 -> s3
    - [3, 2]   # s3 -> h3

  # h3 -> h1   (s3 -> s2 -> s1)
  "172.17.0.103-172.17.0.101":
    - [3, 1]   # s3 -> s2
    - [2, 1]   # s2 -> s1
    - [1, 1]   # s1 -> h1

  # h2 -> h3   (s2 -> s3)
  "172.17.0.102-172.17.0.103":
    - [2, 2]   # s2 -> s3
    - [3, 2]   # s3 -> h3

  # h3 -> h2   (s3 -> s2)
  "172.17.0.103-172.17.0.102":
    - [3, 1]   # s3 -> s2
    - [2, 3]   # s2 -> h2
